<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Title </title>
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/script.js" type="text/javascript"></script>
</head>

<body>
    <div class="jumbotron">
        <h1>UserDB app</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
               <h2>Managing users</h2>
                <table>
                    <tr>
                        <td>
                            <h5>Show List of users</h5>
                        </td>
                        <td><button id="readUser" class="btn btn-info btn-large btn-light">Show</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Add user</h5>
                        </td>
                        <td><button id="createUser" class="btn btn-info btn-large btn-light">Add</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Delete user</h5>
                        </td>
                        <td><button id="deleteUser" class="btn btn-info btn-large btn-light">Delete</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Edit user</h5>
                        </td>
                        <td><button id="updateUser" class="btn btn-info btn-large btn-light">Edit</button></td>
                    </tr>
                </table>
                <div id="outputUser" class="outputDivs"></div>
            </div>
            <div class="col-sm">
               <h2>Managing user groups</h2>
                <table>
                    <tr>
                        <td>
                            <h5>Show List of users groups</h5>
                        </td>
                        <td><button id="readGroup" class="btn btn-info btn-large btn-light">Show</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Add user group</h5>
                        </td>
                        <td><button id="createGroup" class="btn btn-info btn-large btn-light">Add</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Delete user group</h5>
                        </td>
                        <td><button id="deleteGroup" class="btn btn-info btn-large btn-light">Delete</button></td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Edit user group</h5>
                        </td>
                        <td><button id="updateGroup" class="btn btn-info btn-large btn-light">Edit</button></td>
                    </tr>
                </table>
                <div id="outputGroup" class="outputDivs"></div>
            </div>
    </div>
    </div>
</body>

</html>
